.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: black;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
  transition: opacity 0.2s;
}

.feynman__link:hover {
  opacity: 0.5;
  color: #2f80ed;
}
