@import url('./__logo-icon/resourses__logo-icon.css');
@import url('./__logo-zone/resourses__logo-zone.css');
@import url('./__logo/resourses__logo.css');
@import url('./__section-subtitle/resourses__section-subtitle.css');
@import url('./__section-title/resourses__section-title.css');

.resourses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
